html{
    height: 100%;
}
body{
    background-color: #00330020; 
    height: 100%;
	overflow: hidden;     /* to get rid of the scroll bar at the right */
    /*background-image: url('images/P000001.jpg');  -- background image is set in the div to fade out the image */
}
iframe{
    width: 99%;
    height: 50%;
    position: absolute;
    top: 50%;
}

h1 { 
    text-align: center;
    letter-spacing:1vw;       /* stretches out the h1 */
    margin: 0;
    /*text-shadow: 3px 3px 5px red;        /* add a shadow to the text in the header  */
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 5vw;
}

.flexbox {
	display: flex;
	width: 60%;
    height: 10rem;
	border: groove 5px #360;        
    padding: 1rem 2rem;
    background-color: #ccc;
    margin: 1rem auto;
}
.flexbox img {
    width: 16rem;
    height: 10rem;
    margin: 0 1rem;
    float: left;
    border: groove 1px navy;
}
.text {
    background-color: #CCFFFF26;
    width: 60%;
    height: 10rem;
    margin: 0 1rem;
    padding: 0 1rem;
    float: left;
}
.flexbutton {
    display: flex;
    width: 6rem;
    height: 1rem;
    float: right;
    flex-direction: column;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 3rem;
    height: 1rem;
}
footer {
    position: fixed;
    bottom: 0;
    right: 10rem;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-weight:700;
}


/*  ---------------------------  Navigation Bar  --------------------------------------*/

/* sets the buttons in the navigation bar to float left */
li {  
    float: left;  
}

/* sets the appearance of the buttons in the navigation bar */
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
/* changes the color of the buttons in the navigation bar when being hovered */ 
li a:hover, .dropdown:hover .dropbtn {
    background-color: #111111;
}

/* this is the dropdown button in the navigation bar */ 
li.dropdown {
    display: inline-block;
}

/* this is the box containing the dropdown list */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e6ffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* this is each cell in the dropdown list */
.dropdown-content a {
    color: purple;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* set the color of each cell in the dropdown list when hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* displays the dropdown box when hover over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}

/* sets the navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;  
  /*  position: fixed;          ----   dropdowns don't work anymore with this   */  
}

/* center the items in the navigation bar */
nav > ul {
    display:flex;
    justify-content: center;  
}
